
<link rel="stylesheet" type="text/css" href="fonts/css/combined.css">

<div class="menu-content">
    <div class="menu-header">
        <a class="menu-logo" href="/"></a>
        <h1>Welcome</h1>
        <p>Never be without info again!</p>
    </div>
    <div class="menu-list icon-background-active">
        <em class="menu-divider top-10">Navigation</em>

        <a id="nav-welcome" class="menu-item" href="/">
            <i class="fas fa-fire  faa-wrench bg-red"></i>
            Home Page
        </a>
        <a id="nav-homepages" class="menu-item" href="medical-home.html">
            <i class="fas bg-navy fa-ambulance  faa-ring"></i>
            Medical SOP
            <i class="fa fa-angle-right"></i>
        </a>
        <a id="nav-components" class="menu-item" href="fire-sop.html">
            <i class="fas bg-purple fa-fire  faa-tada"></i>
            Fire SOP
            <span>HOT</span>
        </a>
        <a id="nav-media" class="menu-item" href="stations.html">
            <i class="fas fa-map  faa-wrench bg-olive"></i>
            Station List
            <span>MAPS</span>
        </a>
        <a id="medical-directors" class="menu-item" href="medical-directors.html">
            <i class="fas bg-gradient-mint fa-user-md  faa-ring"></i>
            Call Medic-1
        </a>
        <a id="nav-apps" class="menu-item" href="useful-apps.html">
            <i class="bg-purple fas fa-tablet-alt"></i>
            Useful Apps
        </a>
        <a id="nav-hospitals" class="menu-item" href="hospitals.html">
            <i class="fas bg-lime fa-hospital  faa-float"></i>
            Hospitals
            <span>OOUCH</span>
        </a>
        <a id="nav-MobileSOP-1" class="menu-item" href="fire-pics.html">
            <i class="fas bg-olive fa-images  faa-vertical"></i>
            Fire Photos
            <span>Gallery</span>
        </a>
        <div id="submenu-3" class="submenu">
			<a href="https://my.vmware.com/web/vmware/info?slug=desktop_end_user_computing/vmware_horizon_clients/4_0">VMWare Horizon</a>
			<a href="#">Telestaff</a>
		</div>
        <a id="nav-union" class="menu-item" href="https://hcfflocal2294.org/">
            <i class="fas bg-lime fa-dumpster-fire  faa-float"></i>
            Union Site
            <span>Link</span>
        </a>
        <a id="logout" class="menu-item" href="login/login.html">
            <i class="fas bg-purple fa-fire  faa-tada"></i>
            Log In Examples
            <span>Hello</span>
        </a>
		<a class="menu-item close-menu" href="#">
            <i class="fa bg-gradient-red2 fa-times"></i>
            Close Menu
            <i class="fa fa-angle-right"></i>
        </a>
		
        <em class="menu-divider">Important Contacts</em>
        <a class="menu-item" href="tel:+1 800 222 1222">
            <i class="fas bg-olive  faa-wrench fa-skull-crossbones"></i>
            Poison Control
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="tel:+1 800 262 8200">
            <i class="fas bg-aqua fa-radiation  faa-ring"></i>
            CHEMTREC
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="tel:+1 813 268 3888">
            <i class="fas bg-purple fa-biohazard  faa-tada"></i>
            Infection Control
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="tel:+1 800 962 2873">
            <i class="fas bg-green fa-phone-volume  faa-float"></i>
            Abuse Hotline
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="tel:+1 844 525 3473">
            <i class="fas bg-blue fa-phone-square-alt  faa-vertical"></i>
            Firestrong
            <i class="fa fa-angle-right"></i>
        </a>


        <em class="menu-divider">Get in Touch</em>
        <a class="menu-item" href="#">
            <i class="fas bg-gradient-green1 fa-phone  faa-ring"></i>
            Call HQ
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="#">
            <i class="fas bg-gradient-green1 fa-envelope-open-text  faa-float"></i>
            Access Webmail
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="#">
            <i class="fas bg-gradient-mint fa-phone-alt  faa-wrench"></i>
            Call Dispatch
            <i class="fa fa-angle-ring"></i>
        </a>
		<a class="menu-item" href="#">
            <i class="fas bg-gradient-blue2 fa-envelope"></i>
            Mail HQ
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <em class="menu-copyright">Copyright , Enabled. All Rights Reserved, <a href="tos.html">Terms Of Service</a><a href="privacy-policy.html">Privacy Policy</a></em>
	
</div>
